node_modules
package-lock.json
lib/store.json
yarn lock
build
npm-debug.log
.env
.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
!.yarn/cache
!.yarn/sdks
lib/bot_.json
lib/sck.json
lib/sck1.json
lib/Session