# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Continous Committing With Node

on:
  push:
    branches: [ main ]
    
  workflow_dispatch:

jobs:
  run_git_with_node:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i  
            
    - name: GitHub config
      run: |
          git config --global user.email "astromedia0010@gmail.com"
          git config --global user.name "Astropeda" 
          git remote set-url origin https://github.com/Astropeda/Asta-Md.git
    - name: Run Node
      run: node git.js
